@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

select:focus {
  box-shadow: none;
  outline: none;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-blend-mode: multiply;
  transition: background-image 1.5s ease-in-out;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
footer,
.date,
.time,
.player,
.weather,
.greeting-container{
  transition: opacity 1s ease-in-out;
}

input {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px 20px 0;
  min-height: 35vh;
}
.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.player-range{
  position: relative;
  width: 300px;
  color: white;
  font-family: Arial, sans-serif;
  text-transform: capitalize;
  text-align: center;
  margin-top: 20px;
}
.player-range::before{
  content: attr(data-song);
  top: -15px;
  width: 100%;
  position: absolute;
  pointer-events: none;
}
.player-range::after{
  content: attr(data-current);
  bottom: -15px;
  width: 100%;
  position: absolute;
  pointer-events: none;
}
.player-ranges{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-volume{
  display: flex;
  align-self: center;
  margin-top: 20px;
}
.player-volume-icon{
  background-image: url('../assets/svg/volume-up.svg');
  margin-left: 5px;
}
.volume-off{
  background-image: url('../assets/svg/volume-down.svg');
}

.play-list {
  text-align: left;
  margin-top: 20px;
}

.play-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}
.list-icon{
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  margin-left: 10px;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  text-transform: capitalize;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 30vh;
}
.slider-icon {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting-container input:focus::placeholder{
  color: transparent;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 35vh;
  padding-bottom: 20px;
}

.change-quote {
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  padding: 20px 0;
  max-width: 65%;
  margin: 0 auto;
}

.author {
  min-height: 20px;
}

.state-open{
  position: fixed;
  right: 5%;
  bottom: 9%;
  font-size: 3rem;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  min-width: 50px;
}
.state-open img{
  transition: transform 1s ease-in-out;
}
.state-open:hover > img{
  transform: rotate(360deg);
}

.state-options{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  top: 0;
  right: -20vw;
  height: 100vh;
  width: 20vw;
  background-color: rgba(0, 0, 0, 0.5);
}
.state-options label{
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.state-options select, .state-options input[type="text"] {
  width: 50%;
  align-self: flex-end;
}

.state-close{
  position: absolute;
  top: 5%;
  right: 5%;
  width: 30px;
  height: 30px;
}
label[for="tags"]{
  opacity: 0;
}

@media (max-width: 1440px) {
  .state-options{
    width: 30vw;
    right: -30vw;
  }
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }

  .state-options{
    width: 40vw;
    right: -40vw;
  }
}

@media (max-width: 640px) {
  .header{
    padding: 5px 5px 0;
  }
  .player-range{
    width: 180px;
  }
  .weather{
    align-items: center;
    text-align: center;
  }
  .city{
    width: 100px;
    text-align: center;
  }
  .state-options{
    width: 60vw;
    right: -60vw;
  }
  .greeting-container{
    flex-direction: column;
    text-align: center;
  }
  .greeting-container input{
    max-width: 200px;
  }
  .time{
    font-size: 64px;
  }
  .slide-next{
    right: 5px;
  }
  .slide-prev{
    left: 5px;
  }
  .state-icon{
    width: 36px;
  }
}

@media (max-width: 420px){
  .player-range{
    width: 130px;
  }

  .player-volume-range{
    width: 100px;
  }
  .city{
    width: 60px;
  }
  .description-container{
    justify-content: center;
  }
  .state-options{
    width: 70vw;
    right: -70vw;
  }
}